extends layout

block content
  div.panel
    button.button-prev <<
    button.button-next >>
    div.date-month
  div.container
    div.dow-container
      div.dow-item S
      div.dow-item M
      div.dow-item T
      div.dow-item W
      div.dow-item R
      div.dow-item F
      div.dow-item S
    div.row
      div.item
