extends layout

block content
  div.panel
    button.button-prev <<
    span.date-month
    button.button-next >>
    table
      thead
        tr
         th.red Red
         th.yellow Yellow
         th.green Green
      tbody
        tr
          td.stat-times
          td.stat-minus
          td.stat-check
  div.container
    div.dow-container
      div.dow-item S
      div.dow-item M
      div.dow-item T
      div.dow-item W
      div.dow-item R
      div.dow-item F
      div.dow-item S
    div.row
      div.item
