doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery/dist/jquery.min.js')
    script(src='/javascripts/calendar.js')
  body
    block content
